<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Admin dashboard</title>
</head>

<body>




    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
        <div class="container-fluid">
            <div class="logo">
                <img src="https://pngimg.com/uploads/photo_camera/photo_camera_PNG101644.png" alt="" width="55px">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu">
                            <!--Llamamos a la consulta qué hicimos desde el Backend-->
                            <% for (const productCategory of Productcategory) { %>
                                <li><a class="dropdown-item" href="#">
                                    <%= productCategory.nombre%>
                                    </a></li>
                                <% } %>
                                    <li>
                                        <!----------------------------------------------->
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/editCategory">Editar</a></li>
                                    <li><a class="dropdown-item" href="/addCategory">Agregar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin">Mostrar todos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/addProduct">Agregar</a></li>
                        </ul>

                    </li>

                </ul>

            </div>
            <li class="nav-item" style="display: flex;">
                <a class="nav-link active" aria-current="page" href="/">Cerrar sesión</a>
            </li>
        </div>
    </nav>
    <div class="f">
        <form action="/addProduct" method="POST" style="background-color: rgb(255, 255, 255); padding: 1rem; border-radius: 10px;">
            <div class="form-group">
                <label for="exampleInputName">Nombre</label>
                <input name="name" type="text" class="form-control" id="exampleInputName1" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputCode1">Código</label>
                <input name="code" type="number" class="form-control" id="exampleInputCode1" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPrice">Precio</label>
                <input name="price" type="number" class="form-control" id="exampleInputPrice" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputCode1">Pantalla</label>
                <input name="screen" type="text" class="form-control" id="exampleInputCode1" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPrice">Software</label>
                <input name="software" type="text" class="form-control" id="exampleInputPrice" placeholder="" required>
            </div>
            <div class="form-group">
                    <% for (const productCategory of Productcategory) { %>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="<%=productCategory.id%>" name="idCategory" id="<%=productCategory.id%>" required>
                            <label class="form-check-label" for="<%=productCategory.id%>"><%=productCategory.nombre%></label>
                          </div>
                    <% } %>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>