<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Articles</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
        <div class="container-fluid">
            <div class="logo">
                <img src="https://pngimg.com/uploads/photo_camera/photo_camera_PNG101644.png" alt="" width="55px">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/clientWeb">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <!--Llamamos a la consulta qué hicimos desde el Backend-->
                                <% for (const productCategory of Productcategory) { %>
                                    <li><a class="dropdown-item" href="/categoryid/<%= productCategory.id%>">
                                            <%= productCategory.nombre%>
                                        </a></li>
                                    <% } %> 
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/clientWeb">Mostrar todos</a></li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" role="button" id="lista">
                                <p id="text">Cambiar a lista</p>
                            </a> 
                        </li>
                    
                        
                </ul>

            </div>

        </div>
    </nav>

    <div class="xd">
        <div class="xdd" style="padding: .4rem; background-color: white; border-radius: 5px; margin-bottom: 20px;">
            
            <form action="/filterid" method="post">
                <h5>Filtros</h5>
                <label for="">Nombre</label>
                <input type="text" class="form-control" style="margin-right: 1rem;" placeholder="Escribe el nombre"
                     name="name"><br>
                <label for="">Software</label>
                <input type="text" class="form-control" placeholder="Escribe el software" name="software"><br>
                <label for="">Procesador</label>
                <input type="text" class="form-control" placeholder="Escribe el procesador" name="procesador"><br>
                <button class="btn btn-warning" style="width: 100%;">Enviar</button>
            </form>

        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% for(let i=0; i < Product.length; i++) { %>
                <div class="col" id="col">
                    <a href="/clientWeb/<%=Product[i].id %>" style="text-decoration: none;">
                        <div class="card">
                            <div class="company" style="display: flex; justify-content: center; margin-top: 1rem;">
                                <img src="<%= Productimg[i].url%>" class="" alt="..." style="width: 55%;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Nombre: <%=Product[i].nombre %>
                                </h5>
                                <span class="card-text">Código: <%=Product[i].codigo %></span><br>
                                <span class="card-text">Software: <%=Product[i].software %></span><br>
                                <span class="card-text">Procesador: <%=Product[i].pantalla %></span>
                                <p class="card-text">Precio: <%=Product[i].precio %>$</p>
                                
                            </div>


                        </div>
                        <br>

                    </a>
                </div>
                <% } %>
                    <!-------------->
        </div>
    </div>
    <script type="text/javascript">
        const lista = document.getElementById('lista');
        const text = document.getElementById('text');
        const col = document.querySelector('.row-cols-md-3');
        lista.addEventListener('click',(e) => {
            if(text.textContent === 'Cambiar a lista'){
                text.textContent = "Cambiar a rejilla";
                col.style.display = "flex";
                col.style.flexDirection = "column";
                
            }
            else {
                text.textContent = "Cambiar a lista";
                col.style.display = "flex";
                col.style.flexDirection = "row";
                
            }
        })
    </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>